@import "tailwindcss";
@plugin "daisyui";

.mySwiper {
    height: 250px;
    /* Or any height you want */
}

.mySwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    /* Optional: Rounded corners */
}




/* Remove default react-tabs styles */



.react-tabs__tab--selected {
    border-bottom: 4px solid tomato;
    outline: none;
}


