@import "tailwindcss";
@plugin "daisyui";

/* Remove default react-tabs styles */

.react-tabs__tab--selected {
    border-bottom: 4px solid tomato;
    outline: none;
}

.active {
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: #ff8888;
}

